@import "../modules/variables.scss";

button {
  cursor: pointer;
  transition: .2s all;
}

.button {
  display: block;
  margin: 0 auto;
  color: $gray-color;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: $main-color;
  border: solid 2px $main-color;
  border-radius: 1.5rem;
  width: 12rem;
  height: 3rem;
  &:disabled {
    background-color: $dim-color;
    border: $dim-color;
  }
  &:not(:disabled):hover, &:not(:disabled):focus, &:not(:disabled):focus-visible {
    background-color: $gray-color;
    outline: none;
    color: $main-color;
  }
}