@import "../modules/variables";

.modal {
  position: absolute;
  left: 10rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5rem 2rem;
  width: 20rem;
  height: 30rem;
  background-color: $gray-color;
  box-shadow: 0 0 12px 0 rgba(black, 0.1);
  border-radius: 10px;

  &-choosing-files {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__plug {
      display: none;
      color: $dim-color;
      font-size: 1.5rem;
      &.active {
        display: block;
      }
    }
    &__file-info {
      position: relative;
      padding: 0 0.5rem;
      &:hover {
        .modal-choosing-files__remove-file {
          display: block;
        }
      }
    }

    &__share-form {
      input {
        display: block;
        width: 1px;
        height: 1px;
        opacity: 0;
        overflow: hidden;

        &:focus + *, &:focus-visible + * {
          circle {
            fill: rgb($main-color, 20%);
          }
        }
      }
    }

    &__file-list {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      li {
        list-style-type: none;
        position: relative;

        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }
        &::after {
          position: absolute;
          bottom: -.5rem;
          content: "";
          display: block;
          background: #bdbdbd;
          height: 1px;
          width: 100%;
          border-radius: 1rem;
        }
      }
    }
    &__remove-file {
      display: none;
      height: 100%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: .125s all;
      width: 4rem;
      background: linear-gradient(to right, transparent 20%, #fdfbfd 50%);
      border: none;
      padding-right:.5rem;
      padding-left: 2.2rem;
      svg {
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        fill: $main-color;
        path {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__share-form {
    }

    &__add-files-custom-bottom {
      margin-bottom: 1.5rem;
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5rem;
      cursor: pointer;
      &:hover {
        circle {
          fill: rgb($main-color, 20%);
        }
      }
    }
    &__add-files-image {
      width: 2rem;
      height: 2rem;
      fill: $main-color;
      circle {
        transition: .125s all;
        fill: transparent;
      }
    }
    &__add-files-description {
      height: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: .25rem;
    }
    &__add-files-title {
      font-size: 1rem;
      font-weight: 400;
    }
    &__add-files-info {
      display: flex;
      gap: 0.3rem;
      opacity: .6;
      div {
        font-size: 0.8rem;
      }
    }
  }
  &-transferring {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__all-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    &__upload-status {
      width: 80%;
      height: 80%;
      display: block;
      margin: 0 auto;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &__title {
      font-size: 1.5rem;
    }
    &__info {
      text-align: center
    }
    &__count-files {
      text-align: center;
      margin-bottom: .2rem;
    }
    &__size-info {
      color: $dim-color;
    }

  }
  &-transferred {
    width: 100%;
    height: 100%;
    display: none; // todo none
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    text-align: center;

    &__success-icon {
      width: 100%;
      height: 7rem;
      margin-bottom: 1rem;
      svg {
        width: 100%;
        height: 100%;
        path {
          fill: none;
          stroke: #33e45c;
          animation: 2s success-svg-stroke ease-in-out forwards, .6s success-svg-fill 1.5s ease forwards;
          stroke-dashoffset: 500px;
          stroke-dasharray: 500px;
          stroke-linecap: round;
        }
      }
    }
    &__success-title {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    &__success-description {
      button {
        color: #3384e4;
        text-decoration: underline;
        border: none;
        background: transparent;
      }
    }
  }

  &__wrapper-up-elems {
    height: 17.5rem;
    position: relative;
    &-gradient {
      position: absolute;
      z-index: 10;
      bottom: 0;
      width: 100%;
      height: 1rem;
      background: linear-gradient(to top, $gray-color 40%, transparent);
    }
  }
  &__wrapper-down-elems {
    position: relative;
    &::before {
      position: absolute;
      top: -1rem;
      opacity: .8;
      content: "";
      display: block;
      background: linear-gradient(to right, $gray-color, $main-color, $gray-color);
      height: 2px;
      width: 100%;
      border-radius: 1rem;
    }
  }
}

@keyframes success-svg-stroke {
  0% {
    stroke-dasharray: 160px;
    stroke-dashoffset: 160px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes success-svg-fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: #33e45c;
  }
}