.separator {
  position: relative;
  &::after {
    position: relative;
    top: 0.5rem;
    content: "";
    display: block;
    height: 2px;
    width: 2px;
    background-color: black;
    border-radius: 50%;
  }
}